In [35]:
tu = (23, 'abc', 4.56, (2,3), 'def')
print(tu)

(23, 'abc', 4.56, (2, 3), 'def')

In [36]:
li = ["abc", 34, 4.34, 23]
print(tu)

(23, 'abc', 4.56, (2, 3), 'def')

In [37]:
st = "Hello World"
st = 'Hello World'
st = """This is a multi-line string that uses triple quotes."""
print(st)

This is a multi-line string that uses triple quotes.

In [58]:
tu = (23, 'abc', 4.56, (2,3), 'def')
tu[1]

'abc'

In [39]:
li = ["abc", 34, 4.34, 23]
li[1]

34

In [40]:
st = "Hello World"
st[1]

'e'

In [41]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[-3]

4.56

In [42]:
t[1:4]

('abc', 4.56, (2, 3))

In [43]:
t[1:-1]

('abc', 4.56, (2, 3))

In [44]:
t[1:-1:2]

('abc', (2, 3))

In [45]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[:2]

(23, 'abc')

In [46]:
t[2:]

(4.56, (2, 3), 'def')

In [47]:
t[:]

(23, 'abc', 4.56, (2, 3), 'def')

In [48]:
t = [1, 2, 4, 5]
3 in t

False

In [49]:
4 in t

True

In [50]:
4 not in t

False

In [51]:
a = 'abcde'
'c' in a

True

In [52]:
'cd' in a

True

In [53]:
'ac' in a

False

In [54]:
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [55]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [56]:
"Hello" + " " + "World"

'Hello World'